// import font
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// variable
$color-primary-90: #003486; // button primary-hover
$color-primary-80: #1853B1; // button primary-default
$color-primary-50: #D9EBFA;
$color-text-title: #232631; // title
$color-text-desc-1: #374151;  // desc title, paraghrap
$color-text-desc-2: #656565; // desc card
$color-stroke: #6D7280; // border color
$bg-color-white: #FFFFFF; // bg section white
$bg-color-gray: #F9F9F9; //bg color
$font-family-poppins: 'Poppins', sans-serif;

// set properties
* {
  margin: 0;
  padding: 0;
  font-family: $font-family-poppins;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: underline!important;
  color: $color-text-title!important;
}
img {
  max-width: 100%;
}
.section-padding {
  padding: 96px 0px;
}
.bg-gray{
  background-color: $bg-color-gray;
}
.bold-600{
  font-weight: 600 !important;
}
.mb-24{
  margin-bottom: 24px;
}
.mb-32{
  margin-bottom: 32px;
}
.mb-48 {
  margin-bottom: 48px;
}
.mb-64 {
  margin-bottom: 64px;
}
.bg-primary-80 {
  background-color: $color-primary-80;
}
// button
a.btn, button.btn{
  display: inline-block;
  padding: 8px 20px;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 170%;
  padding: 16px 20px;
  text-decoration: none!important;
}
.btn.btn-primary-80 {
  background-color: $color-primary-80;
  color: $bg-color-white;
}
.btn.btn-primary-80:hover, .btn.btn-primary-80:hover {
  background-color: $color-primary-90;
  color: $bg-color-white;
}
.btn.btn-secondary  {
  background-color: $bg-color-white;
  color: $color-text-desc-1;
}
.btn.btn-secondary:hover, .btn.btn-secondary:focus {
  background-color: #f1f1f1;
  color: $color-text-desc-1;
}

// text
.heading-1{
  font-family: $font-family-poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  color: $color-text-title;
}
.heading-2{
  font-family: $font-family-poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  color: $color-text-title;
}
.heading-3{
  font-family: $font-family-poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: $color-text-title;
}
.heading-4{
  font-family: $font-family-poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: $color-text-title;
}
.text-desc-1{
  font-family: $font-family-poppins;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: $color-text-desc-1;
}
.text-desc-2{
  font-family: $font-family-poppins;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: $color-text-desc-2;
}
.text-desc-3{
  font-family: $font-family-poppins;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: $color-text-desc-2;
}
.txt-blue{
  color: $color-primary-80;
}

// container
.container{
  max-width: 1200px;
}

// navbar component
.navbar a {
  font-family: $font-family-poppins;
  font-weight: 500;
  font-size: 16px;
  color: $bg-color-white;
}
.navbar a:hover {
  text-decoration: underline;
  color: $bg-color-white!important; 
}
.navbar li{
  margin-right: 30px;
}
// end navbar component

// index.html
// =====================================
// header
header {
  div.container h1{
    max-width: 800px;
    color: $bg-color-white; 
  }
  p {
    color: $bg-color-white;
  }
}
// end header

// footer
footer {
  ul{
    padding-left: unset;
  }
  li{
    list-style: none;
    margin-bottom: 10px;
  }
  a{
    text-decoration: none;
    white-space: nowrap;
  }
  p{
    margin-bottom: unset;
  }
  .mw-350{
    max-width: 350px;
  }
  .contact {
    background-color: $color-primary-80;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    p{
      white-space: nowrap;
    }
  }
  .section-padding{
    padding-bottom: unset;
  }
  span{
    color: #3B82F6;
  }
  .social-media{
    a{
      margin-left: 20px;
    }
  }
}
// end footer


// All Article
// =====================================
#searcHArticle{
  .title{
    max-width: 800px;
    margin-bottom: 32px;
  }
  .search{
    max-width: 800px;
    width: 100%;

    .filter-search{
      width: 100%;
    }
    .filter-search input{
      padding: 8px 12px;
    }
  }
}

@media (max-width: 768px) {
  footer .flex-col{
    flex-direction: column;
  }
}

