@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
}

a:hover {
  text-decoration: underline !important;
  color: #232631 !important;
}

img {
  max-width: 100%;
}

.section-padding {
  padding: 96px 0px;
}

.bg-gray {
  background-color: #F9F9F9;
}

.bold-600 {
  font-weight: 600 !important;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mb-48 {
  margin-bottom: 48px;
}

.mb-64 {
  margin-bottom: 64px;
}

.gap-32 {
  gap: 32px;
}

.bg-primary-80 {
  background-color: #1853B1;
}

a.btn, button.btn {
  padding: 12px 20px;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 170%;
  text-decoration: none !important;
  height: -moz-fit-content;
  height: fit-content;
}

.btn.btn-primary-80 {
  background-color: #1853B1;
  color: #FFFFFF;
}

.btn.btn-primary-80:hover, .btn.btn-primary-80:active, .btn.btn-primary-80:focus {
  background-color: #003486 !important;
  color: #FFFFFF !important;
}

.btn.btn-secondary {
  background-color: #FFFFFF;
  color: #374151;
}

.btn.btn-secondary:hover, .btn.btn-secondary:active, .btn.btn-secondary:focus {
  background-color: #f1f1f1 !important;
  color: #374151;
}

.heading-1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  color: #232631;
}

.heading-2 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  color: #232631;
}

.heading-3 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #232631;
}

.heading-4 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #232631;
}

.text-desc-1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #374151;
}

.text-desc-2 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #656565;
}

.text-desc-3 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #656565;
}

.txt-blue {
  color: #1853B1;
}

.text-justify {
  text-align: justify;
}

.container {
  max-width: 1200px;
}

.navbar a {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}

.navbar a:hover {
  text-decoration: underline;
  color: #FFFFFF !important;
}

.navbar li {
  margin-right: 30px;
}

header div.container h1 {
  max-width: 800px;
  color: #FFFFFF;
}
header p {
  color: #FFFFFF;
}

.sectionBudayaCirebon .item-budaya-cirebon {
  height: 390px;
  width: 271px;
  padding: 0;
}
.sectionBudayaCirebon .item-budaya-cirebon img {
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
}

.sectionEvent .swiper .swiper-slide {
  max-width: 408px !important;
}

.sectionArticle .img-item-artikel {
  width: 160px;
  height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
}

.sectionNewsletter div.bg-primary-80 {
  padding: 32px;
}

footer ul {
  padding-left: unset;
}
footer li {
  list-style: none;
  margin-bottom: 10px;
}
footer a {
  text-decoration: none;
  white-space: nowrap;
}
footer p {
  margin-bottom: unset;
}
footer .mw-350 {
  max-width: 350px;
}
footer .contact {
  background-color: #1853B1;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
footer .contact p {
  white-space: nowrap;
}
footer .section-padding {
  padding-bottom: unset;
}
footer span {
  color: #3B82F6;
}
footer .social-media a {
  margin-left: 20px;
}

#searcHArticle .title {
  max-width: 800px;
  margin-bottom: 32px;
}
#searcHArticle .search {
  max-width: 800px;
  width: 100%;
}
#searcHArticle .search .filter-search {
  width: 100%;
}
#searcHArticle .search .filter-search input {
  padding: 8px 12px;
}

.sectionDetailArtikel .head-articel, .sectionDetailEvent .head-articel {
  max-width: 780px;
  margin-bottom: 32px;
}
.sectionDetailArtikel .head-articel span, .sectionDetailEvent .head-articel span {
  padding: 2px 10px;
  border-radius: 16px;
  background: #D9EBFA;
  color: #1853B1;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}
.sectionDetailArtikel .head-articel p, .sectionDetailEvent .head-articel p {
  margin-bottom: 0;
}
.sectionDetailArtikel img, .sectionDetailEvent img {
  max-width: 978px;
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}
.sectionDetailArtikel .body-articel, .sectionDetailEvent .body-articel {
  max-width: 780px;
}
.sectionDetailArtikel .body-articel p, .sectionDetailEvent .body-articel p {
  margin-bottom: 24px;
  text-align: justify;
}
.sectionDetailArtikel .body-articel h4, .sectionDetailEvent .body-articel h4 {
  margin-bottom: 24px;
}

.ArtikelRekomendasi {
  max-width: 780px !important;
}
.ArtikelRekomendasi .artikel-rekomendasi {
  margin-top: 32px;
  gap: 32px;
}
.ArtikelRekomendasi .artikel-rekomendasi .card-rekomendasi img {
  width: 150px;
  height: 150px;
  -o-object-fit: coverQ;
     object-fit: coverQ;
}
.ArtikelRekomendasi .artikel-rekomendasi .card-rekomendasi a {
  text-decoration: none !important;
  display: block;
}
.ArtikelRekomendasi .artikel-rekomendasi .card-rekomendasi a:hover {
  text-decoration: underline !important;
}
.ArtikelRekomendasi .artikel-rekomendasi .card-rekomendasi span {
  padding: 2px 10px;
  border-radius: 16px;
  background: #D9EBFA;
  color: #1853B1;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}

.sectionDetailEvent .head-event {
  max-width: 780px;
  margin-bottom: 32px;
}
.sectionDetailEvent .head-event span {
  padding: 2px 10px;
  border-radius: 16px;
  background: #D9EBFA;
  color: #1853B1;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}
.sectionDetailEvent .head-event p {
  margin-bottom: 0;
}
.sectionDetailEvent img {
  max-width: 978px;
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}
.sectionDetailEvent .body-event {
  max-width: 780px;
}
.sectionDetailEvent .body-event p {
  text-align: justify;
}
.sectionDetailEvent .body-event h4 {
  margin-bottom: 12px;
}

@media (max-width: 768px) {
  footer .flex-col {
    flex-direction: column;
  }
}
@media (max-width: 620px) {
  .card-rekomendasi.d-flex {
    flex-direction: column;
  }
  .card-rekomendasi.d-flex img {
    width: 100% !important;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
}/*# sourceMappingURL=style.css.map */